body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #dddddd !important;
}

.container {
  margin-top: 20px;
}